<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/default.asp" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/series.asp" responseMode="ExecuteURL" />
        </httpErrors>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
